<h5 class="text"><b>Test a list of images</b></h5>
<div class="form-group">
    <div for="image_list" class="control-div text">Upload Image List</div>
    <input type="file" id="image_list" name="image_list" class="form-control input-sm">
    <div class="subtle">Accepts a list of filenames or urls (you can use your val.txt file)</div>
</div>
<div class="form-group">
    <div for="image_folder" class="control-div text">Image folder <i>(optional)</i></div>
    <input type="text" id="image_folder" name="image_folder" class="form-control autocomplete_path input-sm">
    <div class="subtle">Relative paths in the text file will be prepended with this value before reading</div>
</div>
<div class="form-group">
    <div for="num_test_images" class="control-div text">Number of images use from the file</div>
    <input type="text" id="num_test_images" name="num_test_images" class="form-control input-sm" placeholder="All">
    <div class="subtle">Leave blank to use all</div>
</div>
<button name="classify-many-btn"
    formaction="{{url_for('digits.model.images.classification.views.classify_many', job_id=job.id())}}"
    formmethod="post"
    formenctype="multipart/form-data"
    formtarget="_blank"
    class="btn btn-primary btn-sm"
    style="background: #4ea4e0">
    Classify Many
</button>
